@media (max-width: 1200px) {
  .top {
    background-position: top center;
  }

  .new-colection__inner {
    gap: 25px;
  }

  .new-colection__content {

    padding-left: 0;
    padding-right: 0;
    max-width: 420px;
  }

  .new-colection__link {
    margin-top: 90px;
  }

  .new-colection__img {
    img {
      max-width: 290px;
      height: 100%;
      object-fit: cover;
    }
  }

  .new-colection__box {
    padding-left: 0;
    padding-right: 0;
  }

  .new-colection__box-img {
    left: -140px;

    img {
      max-width: 300px;
      height: 450px;
      object-fit: cover;
    }
  }

  .new-colection__caption {
    width: 204px;
    margin-bottom: 0;
  }

  .designer__inner {
    padding: 0;
  }

  .designer__caption {
    left: -74px;
    top: 350px;
  }

  .our-advantages__title {
    position: relative;
    z-index: 1;
  }

  .blog-main__inner {
    gap: 20px;
  }

  .blog-main__img {
    max-width: 100%;
  }

  .blog-one h1 {
    font-size: 64px;
  }

  /*1200*/
}

@media (max-width: 1000px) {
  .footer {
    &__elements {
      flex-wrap: wrap;
      gap: 30px 47px;
    }

    &__element--social {
      order: 1;
      width: 100%;

      .footer__element-title {
        display: none;
      }

      .footer__social-list {
        justify-content: flex-end;
        margin-top: -30px;
      }
    }
  }

  .header__lang {
    margin-right: 94px;
  }

  .join-us__inner {
    padding: 0;
    gap: 25px;
  }

  .join-us__img {
    max-width: 480px;
    height: 100%;
    object-fit: cover;
  }

  .top {
    &__inner {
      padding-top: 74px;
      margin-right: 59px;
    }

    &__title {
      margin-bottom: 48px;
    }
  }

  .designer__img {
    max-width: 434px;
    height: 554px;
    object-fit: cover;
  }

  .designer__decor-img {
    width: 280px;
    top: -82px;
  }

  .our-advantages__img {
    left: 0;
  }

  .our-advantages__inner {
    padding-right: 0;
  }

  .our-advantages__list {
    column-gap: 40px;
  }

  .our-advantages-item-decor {
    right: -85px;
  }

  .our-blog__inner {
    padding: 0 0 100px;
    grid-template-columns: 1fr 280px 246px;
  }

  .appointment__box {
    gap: 20px;
    padding: 0;
  }

  .blog-main__category {
    margin-bottom: 20px;
  }

  .blog-main__title {
    font-size: 34px;
    margin-bottom: 15px;
  }

  .blog-main__link {
    padding: 15px 64px;
  }

  .blog__nav-btns {
    margin-left: 30px;
  }

  /* 1000 */
}

@media (max-width: 920px) {
  .container {
    max-width: 660px;
  }

  .menu {
    position: absolute;
    background: #e9e1d7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform .5s ease;
  }

  .menu.menu--active {
    transform: translateY(0);
  }

  .header__lang {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__btn {
    display: inline-block;
    z-index: 10;
    position: relative;
  }

  .header__logo {
    width: auto;
    margin-left: auto;
    margin-right: 87px;
    margin-bottom: 0;
  }

  .footer__menu {
    padding: 60px 0 30px 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .footer__logo {
    position: absolute;
    top: 0;
  }

  .footer__elements {
    gap: 30px 70px;
  }

  .join-us__inner {
    gap: 20px;
  }

  .join-us__img {
    max-width: 320px;
  }

  .join-us__box {
    padding: 20px 0;
  }

  .join-us__title {
    font-size: 30px;
  }

  .join-us__text {
    font-size: 20px;
  }

  .top {
    &__inner {
      max-width: 273px;
    }

    &__title {
      font-size: 45px;
      margin-bottom: 45px;
    }

    &__link {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .new-colection {
    background-position: -28px -58px;
    background-size: 200px;
  }

  .new-colection__box {
    display: none;
  }

  .new-colection__inner {
    padding: 100px 0;
  }

  .new-colection__title {
    margin-bottom: 60px;
    font-size: 30px;
  }

  .new-colection__link {
    margin-top: 36px;
  }

  .new-colection__content {
    padding-top: 0;
  }

  .new-colection__img {
    padding-top: 0;
  }

  .designer__img {
    max-width: 320px;
    height: 520px;
  }

  .designer__text:last-child {
    display: none;
  }

  .designer__inner {
    gap: 20px;
  }

  .designer__title {
    font-size: 30px;
  }

  .designer {
    padding: 100px 0;
  }

  .designer__caption {
    left: 10px;
  }

  .our-advantages__img {
    width: 320px;
    height: 460px;
    object-fit: cover;
  }

  .our-advantages__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .our-advantages__list {
    column-count: 1;
  }

  .our-advantages__item {
    margin-bottom: 20px;
  }

  .our-advantages__wrapper {
    padding: 24px 0 4px;
  }

  .our-advantages-item-decor {
    right: -150px;
  }

  .our-blog__inner {
    grid-template-columns: 1fr 280px;
  }

  .our-blog__box-right {
    display: none;
  }

  .blog-main__inner {
    flex-direction: column;
  }

  .blog__nav {
    flex-wrap: wrap;
    gap: 20px;
  }

  .blog__nav-title {
    width: 100%;
    text-align: center;
  }

  .blog__nav-btns {
    margin-left: auto;
  }

  .blog__list {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  /* 920 */
}

@media (max-width: 768px) {
  .appointment__title {
    font-size: 30px;
  }

  .appointment__box-title {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .appointment {
    padding-bottom: 100px;
    background-position: center 200px;
    background-size: 200px;
  }

  .appointment__img {
    min-height: 580px;
    object-fit: cover;
  }

  .reviews-slider__item img {
    width: 100%;
  }

  .blog-one h1 {
    font-size: 42px;
  }

  .blog-one__stats {
    margin-bottom: 20px;
  }

  .blog-one b {
    font-size: 26px;
  }

  .blog-one b:first-of-type {
    margin-bottom: 30px;
  }

  .blog-one h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .blog-one h4 {
    font-size: 24px;
  }


  /* 768 */
}

@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__actions {
    gap: 12px;
  }

  .footer__menu {
    padding-top: 70px;
  }

  .footer__menu-list {
    flex-wrap: wrap;
    gap: 10px 35px;
    padding-left: 87px;
    padding-right: 87px;
  }

  .footer__elements {
    gap: 30px 100px;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__element--social .footer__social-list {
    justify-content: center;
    margin-top: 0;
  }

  .footer__bottom-inner {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .join-us__img {
    max-width: 220px;
  }

  .join-us__title {
    font-size: 20px;
  }

  .join-us__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .join-us__btn {
    margin-top: 20px;
  }

  .top {
    &__inner {
      max-width: 222px;
      padding-top: 44px;
      margin-right: 18px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 32px;
    }

    &__link {
      padding: 12px;
    }
  }

  .new-colection__inner {
    gap: 20px;
    padding: 70px 0 60px;
    margin-bottom: 70px;
    position: relative;
  }

  .new-colection__link {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .new-colection__content {
    max-width: 220px;
  }

  .new-colection__img {
    img {
      max-width: 220px;
    }
  }

  .new-colection__text {
    font-size: 16px;
  }

  .new-colection__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .designer__text:nth-child(2) {
    display: none;
  }

  .designer__img {
    max-width: 220px;
    height: 320px;
    margin-bottom: 25px;
  }

  .designer__text {
    font-size: 16px;
  }

  .designer__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .designer__caption {
    padding: 10px;
    font-size: 11px;
    top: 225px;
    width: 198px;
    text-align: left;
  }

  .designer__link {
    padding: 10px;
    width: 100%;
  }

  .our-advantages__img {
    width: 220px;
    height: 344px;
  }

  .our-advantages__title {
    font-size: 20px;
  }

  .our-advantages__item {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .our-blog__img--mobile {
    display: none;
  }

  .our-blog__box-bottom {
    grid-column: span 1;
    margin-left: auto;
  }

  .our-blog__inner {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
    background-image: none;
  }

  .our-blog {
    padding-top: 70px;
  }

  .our-blog__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .our-blog__link {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .our-blog__box-link {
    font-size: 16px;
  }

  .our-blog__text {
    margin-bottom: 20px;
  }

  .our-blog__box-img {
    height: 242px;
    object-fit: cover;

  }

  .appointment__box-title {
    margin-bottom: 30px;
  }

  .appointment {
    padding-bottom: 70px;
  }

  .appointment__img {
    min-height: 505px;
    max-width: 220px;
  }

  .appointment__box-form {
    max-width: 220px;
  }

  .reviews-slider {
    margin-bottom: 75px;
  }

  .reviews-top__link {
    font-size: 14px;
  }

  .reviews-top__title {
    font-size: 30px;
  }

  .blog__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__nav-btns {
    display: none;
  }

  .blog__nav-category {
    width: 100%;
    margin-right: 0;
  }

  .search,
  .search__form {
    width: 100%;
  }

  .blog-one__stats{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .blog-one li{
    margin-left: 0;
  }

  .blog-one .blog-one__date::after{
    display: none;
  }

  /*600 */
}

@media (max-width: 470px) {
  .appointment__img {
    min-height: auto;
    height: 250px;
    max-width: 100%;
    width: 100%;
  }

  .appointment__box-form {
    max-width: 220px;
    margin: 0 auto;
    order: 1;
  }

  .appointment__box {
    grid-template-columns: 1fr;
  }

  .appointment__box-title {
    text-align: center;
  }

  .appointment {
    padding-bottom: 40px;
    padding-top: 0px;
    background-position: right 320px;
  }

  .reviews-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .reviews-new {
    padding: 18px 40px;
  }

  .reviews__item {
    padding: 20px 15px;
  }

  .reviews-nav {
    right: 120px;
  }

  /*470 */
}

@media (max-width: 440px) {
  .footer__menu-list {
    padding-left: 27px;
    padding-right: 27px;
  }

  .header__logo {
    width: 100%;
    order: -1;
    margin-bottom: 20px;
  }

  .join-us__img {
    max-width: 160px;
  }

  .top {
    &__inner {
      max-width: 190px;
      padding-top: 30px;
      margin-right: 0px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__link {
      padding: 16px;
    }
  }

  .new-colection__text--mobile {
    display: none;
  }

  .new-colection__content {
    max-width: 160px;
  }

  .new-colection__img {
    img {
      max-width: 160px;
    }
  }

  .new-colection__inner {
    justify-content: space-between;
  }

  .designer__img {
    max-width: 160px;
  }

  .designer__caption {
    width: 140px;
  }

  .our-advantages__inner {
    margin-right: auto;
    text-align: center;
  }

  .our-advantages__img {
    width: 100%;
    height: 185px;
    top: -100px;
    object-position: top;
  }

  .our-advantages__wrapper {
    padding-top: 100px;
  }

  .our-advantages-item-decor {
    right: -130px;
    top: 112px;
  }

  .our-advantages__item {
    padding-top: 35px;
    padding-left: 0;
  }

  .our-advantages__item::before {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  .our-blog__inner {
    position: relative;
    padding-bottom: 130px;
  }

  .our-blog__link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
  }

  .blog__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-one h1{
    font-size: 32px;
  }

  /*440*/
}