@use 'vars';
@use 'reset';
@use 'fonts';
@use '../../node_modules/swiper/swiper-bundle.css';
@use '../../node_modules/nouislider/dist/nouislider.css';
@use 'global';
@use 'media';

body {
  @extend %opensans-400;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: vars.$color-accent;
}

.promo {
  background-color: vars.$bg-primary;
  padding: 7px 0 9px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.header {
  padding: 20px 0 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: vars.$color-primary;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;
    margin-right: 180px;

    &--active {
      @extend %opensans-700;
    }

  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  display: inline-block;

}

.menu {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__btn {
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu {
    padding: 55px 0 44px;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 50px;
  }

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__logo {
    margin-left: -20px;
    margin-right: -20px;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
    padding: 1px 30px 5px 0;
    color: vars.$color-text-muted;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
    border: none;
    background-color: #fff;
  }

  &__bottom {
    background-color: vars.$bg-primary;
    padding: 7px 0 9px;
    color: vars.$color-primary;
    font-size: 11px;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
  }


  &__bottom-list {
    display: flex;
    gap: 0 37px;

  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -20px;
    }
  }
}

.top {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 115px 0 50px;
    margin-right: 134px;
    max-width: 446px;
    margin-left: auto;
  }

  &__title {
    font-size: 80px;
    line-height: 1.2;
    @extend %lora-400;
    margin-bottom: 60px;
  }

  &__link {
    color: #fff;
    padding: 12px 38px;
    border-radius: 3px;
    display: inline-block;
    background-color: vars.$color-accent;
    text-transform: uppercase;
    align-self: start;
  }
}

.new-colection {
  background-image: url(../images/top-decor.svg);
  background-repeat: no-repeat;
  background-position: 155px -38%;

  &__inner {
    padding: 150px 0;
    display: flex;
  }

  &__content {
    padding: 75px 40px 0 40px;
    max-width: 492px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 20px;
    color: vars.$color-text-muted;
  }

  &__link {
    margin-top: auto;
    font-size: 16px;
    color: vars.$color-text-muted;
    padding: 10px 65px;
    border: 1px solid vars.$bg-primary;
    align-self: flex-start;
  }

  &__img {
    padding-top: 75px;
  }

  &__box {
    position: relative;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__box-img {
    position: absolute;
    right: 0;
    left: -75px;
    max-height: fit-content;
  }

  &__caption {
    color: vars.$color-text-muted;
    width: 290px;
    margin-top: auto;
    margin-bottom: 40px;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    display: flex;
    padding: 0 40px;
    gap: 40px;
  }

  &__img {
    max-width: 540px;
  }

  &__box {
    padding: 35px 0;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 20px;
    @extend %lora-400;
  }

  &__text {
    font-size: 30px;
    color: vars.$color-primary;
    @extend %lora-400;
    margin-bottom: 40px;
  }


  &__form {
    margin-bottom: 0;
  }

  &__input {
    display: block;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    width: 100%;
    padding-bottom: 10px;
    background-color: transparent;
    @extend %opensans-400;
    color: vars.$color-text-muted;
    position: relative;
    z-index: 10;
  }

  &__input+.join-us__input {
    margin-top: 10px;
  }

  &__btn {
    text-transform: uppercase;
    width: 100%;
    display: block;
    background-color: vars.$color-accent;
    padding: 12px;
    border-radius: 3px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
    position: relative;
    z-index: 10;
  }

  &__form-caption {
    font-size: 11px;
    color: vars.$color-primary;
  }
}

.designer {
  padding: 150px 0 210px;
  position: relative;

  &__decor-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -225px;
    z-index: 5;
  }

  &__inner {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;

  }

  &__content {
    max-width: 400px;

  }

  &__title {
    font-size: 45px;
    margin-bottom: 50px;
    @extend %lora-400;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
    margin-bottom: 20px;
  }

  &__box {
    text-align: center;
    position: relative;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__caption {
    padding: 20px 18px;
    width: 300px;
    border: 3px solid vars.$color-text-muted;
    position: absolute;
    top: 180px;
    left: -160px;
    background-color: #fff;
  }

  &__link {
    display: inline-block;
    padding: 10px 90px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
    cursor: pointer;
  }
}

.our-advantages {
  background-color: vars.$bg-primary;

  &__wrapper {
    padding: 64px 0 34px;
    display: flex;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &-item-decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__inner {
    margin-left: auto;
    padding-right: 128px;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 50px;
    @extend %lora-400;
    text-transform: uppercase;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    margin-bottom: 30px;
    padding-left: 50px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url(../images/our-advantages-decor.svg);
    }
  }
}

.our-blog {
  padding: 150px 0 0;

  &__inner {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    gap: 20px;

    background-image: url(../images/our-blog-img-decor.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 100px;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 50px;
    @extend %lora-400;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
    margin-bottom: 50px;
    max-width: 400px;
  }

  &__link {
    display: inline-block;
    padding: 10px 90px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
    cursor: pointer;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
    margin-top: 35px;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    margin-bottom: 5px;
    @extend %lora-400;
    color: vars.$color-text-muted;
    display: inline-block;
  }

  &__box-date {
    font-size: 16px;
    @extend %opensans-300;
    color: vars.$color-primary;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.appointment {
  padding: 50px 0 130px;
  background-image: url(../images/appointment-decor.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  z-index: 5;

  &__title {
    text-align: center;
    margin-bottom: 77px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 40px;
  }

  &__box-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__box-title {
    margin-bottom: 80px;
    font-size: 30px;
    @extend %lora-400;
    text-transform: uppercase;
  }

  &__box-text {
    margin-bottom: 30px;
    @extend %opensans-700;
    color: vars.$color-text-muted;
  }

  &__input {
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    color: vars.$color-text-muted;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__btn {
    margin-top: auto;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    padding: 12px;
    background-color: vars.$color-accent;
    border: none;
    cursor: pointer;
  }
}

.collections-top {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: vars.$color-text-muted;
  }

  &__item {
    position: relative;
  }

  &__item+.breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -10px;
  }
}

.collections {


  &__title {
    margin-bottom: 50px;
    font-size: 45px;
    @extend %lora-400;
    text-transform: uppercase;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-areas: "aa ab ba bb"
      "cc cc ca cb"
      "cc cc da db"
      "ea eb ff ff"
      "fa fb ff ff";
    gap: 40px;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      grid-area: aa;
    }

    &:nth-child(2) {
      grid-area: ab;
    }

    &:nth-child(3) {
      grid-area: ba;
    }

    &:nth-child(4) {
      grid-area: bb;
    }

    &:nth-child(5) {
      grid-area: cc;
      height: fit-content;
    }

    &:nth-child(6) {
      grid-area: ca;
    }

    &:nth-child(7) {
      grid-area: cb;
    }

    &:nth-child(8) {
      grid-area: da;
    }

    &:nth-child(9) {
      grid-area: db;
    }

    &:nth-child(10) {
      grid-area: ea;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(11) {
      grid-area: eb;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(12) {
      grid-area: ff;
      height: fit-content;
    }

    &:nth-child(13) {
      grid-area: fa;

    }

    &:nth-child(14) {
      grid-area: fb;

    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__text {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 12px;
    @extend %lora-400;
    background-color: vars.$color-accent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.pagination {
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 2px;

  }

  &__link {
    width: 43px;
    height: 43px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    color: #fff;
    background-color: vars.$color-text-muted;
  }

  &__arrow {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--disabled {
    display: none;
  }
}

.product {
  margin-bottom: 150px;

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1.1fr;
    gap: 40px;
    padding-right: 40px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    picture:nth-child(2) {
      grid-row: span 2;
    }

    img {
      max-width: max-content;
    }
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__price {
    @extend %opensans-700;
    margin-bottom: 30px;
    font-size: 25px;
    color: vars.$color-primary;
  }

  &__list {
    font-size: 16px;
  }

  &__list-term {
    @extend %opensans-700;
    margin-bottom: 5px;
    text-transform: uppercase;
  }


  &__list-definition {
    margin-left: 0;
    margin-bottom: 30px;
  }

  &__list-text {
    color: vars.$color-text-muted;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
  }

  &__btn {
    border: 1px solid vars.$color-text-muted;
    color: vars.$color-text-muted;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    font-size: 16px;
    gap: 10px;
    cursor: pointer;
  }

  &__btn-add {
    padding: 12px;
    text-transform: uppercase;
    font-size: 20px;
    grid-column: span 2;
  }

  &__list-radio {
    display: flex;
    gap: 30px;
  }

  &__list-checkbox {
    display: flex;
    gap: 10px;
  }
}

.radio-label {
  padding-left: 26px;
}

.radio-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked+.radio-style::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: vars.$color-accent;
    top: 2px;
    left: 2px;
  }
}

.radio-style {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid vars.$color-accent;
  margin-left: -26px;
  margin-top: 2px;

}

.checkbox-label {
  padding-left: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked+.checkbox-style::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: vars.$color-accent;
    top: 2px;
    left: 2px;
  }
}

.checkbox-style {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid vars.$color-accent;
  margin-left: -20px;
  margin-top: 2px;


}

.acesories {
  margin-bottom: 90px;
  z-index: 10;

  &_slide-img {
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
  }

  &__inner-decor {
    position: absolute;
    z-index: 5;
    right: 58px;
    top: -110px;
  }

  &__title {
    @extend %lora-400;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    max-width: 890px;
    margin: 0 auto 40px;
    border-bottom: 2px solid #e9e1d7;
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
  }

  &__slide {
    text-align: center;

  }

  &__slide-title {
    margin-bottom: 10px;
  }

  &__slider-price {
    @extend %opensans-700;
  }
}

.acesories-slider {
  &__arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 40%;
  }
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
}

.page-404 {
  &__container {
    max-width: 1560px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
  }

  &__content {
    width: 731px;
    margin: 205px 14px 0 35px;
    @extend %lora-400;

  }

  &__text {
    font-size: 160px;
    margin-bottom: 60px;
  }

  &__link {
    font-size: 48px;
    display: flex;
    align-items: flex-end;
    gap: 20px;

    span {
      display: inline-block;
      width: 621px;
      text-transform: uppercase;
    }
  }

}

.moving {
  overflow: hidden;

  &__text {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    @extend %lora-400;
    opacity: 0.2;
    text-transform: uppercase;
    font-size: 160px;
    animation-name: moving;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.blog-main {

  &__inner {
    padding: 40px 0;
    border-top: 1px solid #dcddde;
    border-bottom: 1px solid #dcddde;
    display: flex;
    gap: 40px;
  }

  &__img {
    max-width: max-content;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__category {
    padding: 8px 24px;
    font-size: 14px;
    border: 1px solid #dcddde;
    align-self: flex-start;
    margin-bottom: 40px;
    cursor: pointer;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 40px;
    text-transform: uppercase;
    @extend %lora-400;
    line-height: 1.2;
    cursor: pointer;
  }

  &__text {
    color: vars.$color-text-muted;
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 660px;
  }

  &__link {
    margin-top: auto;
    text-transform: uppercase;
    font-size: 24px;
    padding: 32px 64px;
    border: 1px solid #dcddde;
    align-self: flex-start;
    cursor: pointer;
  }
}

.blog {
  &__nav {
    padding: 32px 0;
    display: flex;
    align-items: center;
  }

  &__nav-title {
    font-size: 32px;
    @extend %lora-400;
    margin-right: auto;
  }

  &__nav-category {
    margin-right: 35px;
    width: 335px;
    margin-bottom: 0;
  }

  &__nav-btns {
    margin-left: 100px;
    display: flex;
    gap: 5px;
  }

  &__nav-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__list {
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__list-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__list-category {
    font-size: 14px;
    margin-bottom: 16px;
    padding: 8px 24px;
    border: 1px solid #dcddde;
    align-self: flex-start;
  }

  &__list-title {
    font-size: 24px;
    margin-bottom: 8px;
    @extend %lora-500;
  }

  &__list-date {
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.4);
    @extend %inter-400;
  }
}

.select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dcddde;
  padding: 2px 31px 14px 3px;
  color: rgba($color: #000000, $alpha: 0.4);
  appearance: none;

  &__wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/blog-categories-arrow.svg);
      width: 19px;
      height: 18px;
      top: 10px;
      right: 3px;

    }
  }
}

.search {

  &__form {
    width: 335px;
    position: relative;
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dcddde;
    padding: 2px 31px 14px 3px;

    &::placeholder {
      color: #000000;
      opacity: 0.4;
    }
  }

  &__btn {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    top: 10px;
    right: 3px;
  }
}

.blog-one {

  h3,
  h4,
  p,
  b,
  ul {
    max-width: 1220px;
  }

  h1 {
    font-size: 96px;
    text-transform: uppercase;
    margin-bottom: 22px;
    @extend %lora-400;
    line-height: 1.2;
  }

  picture {
    margin-bottom: 50px;
  }

  b {
    font-size: 32px;
    @extend %lora-400;
    margin-bottom: 50px;
    display: inline-block;
  }

  h3 {
    font-size: 40px;
    @extend %lora-500;
    margin-bottom: 40px;
  }

  h4 {
    font-size: 32px;
    @extend %lora-400;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 40px;
  }

  ul {
    margin-bottom: 40px;
    list-style-type: disc;
  }

  li {
    margin-left: 25px;

    ul {
      margin-bottom: 0;
    }
  }

  li:has(ul) {
    list-style-type: none;
  }

  &__stats {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .blog-one__category {
    padding: 8px 24px;
    border: 1px solid #dcddde;
    font-size: 14px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .blog-one__date {
    margin-bottom: 0;
    opacity: 0.3;
    font-size: 18px;
    padding-right: 20px;
    margin-right: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      height: 29px;
      background-color: #000;
      opacity: 0.3;
    }
  }

  .blog-one__list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 0;
  }

  .blog-one__item {
    padding-left: 0;

  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.3;
  }

  &__link--active {
    opacity: 1;
  }
}

.reviews-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    font-size: 64px;
    @extend %lora-400;
  }

  &__link {
    font-size: 24px;
    color: rgba($color: vars.$color-accent, $alpha: 0.4);
    border-bottom: 1px solid vars.$color-accent;
  }
}

.reviews-slider {
  overflow: hidden;
  width: calc(100vw - (100vw - 1500px) / 2);
  margin-bottom: 25px;
}

.reviews-rating {
  display: flex;
  align-items: center;
  gap: 10px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.4;
    border-bottom: 1px solid vars.$color-accent;
  }
}

.reviews-new {
  display: inline-block;
  margin-top: 24px;
  padding: 24px 40px;
  text-transform: uppercase;
  border: 1px solid vars.$color-accent;
  font-size: 16px;
  margin-bottom: 60px;
}

.reviews {

  &__item {
    margin-top: 20px;
    border: 1px solid #dcddde;
    padding: 40px 50px;
  }

  &__item-date {
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__item-name {
    margin-top: 18px;
    margin-bottom: 24px;
    gap: 12px;
    display: flex;
    align-items: center;
  }

  &__item-name-img {
    object-fit: cover;
    border-radius: 50%;
  }

  &__item-text {
    max-width: 1220px;
  }

  &__item-images {
    margin-top: 24px;
    display: flex;
    gap: 10px;

    img {
      object-fit: cover;
    }
  }
}

.reviews-nav {
  position: absolute;
  max-width: 1520px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.reviews-slider-arrow {
  position: absolute;
  top: 24px;
  cursor: pointer;
}

.reviews-slider-prev {
  right: 158px;
}

.reviews-slider-next {
  right: 0;
}

.reviews-slider-pagination {
  position: absolute;
  right: 44px;
  font-size: 18px;
  color: rgba($color: vars.$color-accent, $alpha: 0.3);
  left: auto;
  width: auto;
  top: 21px;

  .swiper-pagination-current {
    padding-right: 20px;
    color: vars.$color-accent;
  }

  .swiper-pagination-total {
    padding-left: 20px;
  }
}

.catalog {
  &__top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__view-mode {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 11px;
    color: vars.$color-text-muted;
  }

  &__title {
    text-transform: uppercase;
    @extend %lora-400;
    font-size: 45px;
  }

  &__sort-wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 9px;
      background-image: url(../images/sort-arrow.svg);
      right: 9px;
      top: 9px;
    }
  }

  &__sort-select {
    padding: 5px 30px 5px 9px;
    width: 175px;
    border-radius: 3px;
    border: 1px solid vars.$color-text-muted;
    font-size: 11px;
    color: vars.$color-text-muted;
    appearance: none;

  }

  &__content {
    display: flex;
    gap: 40px;
  }

  &__filter {
    width: 270px;
    padding: 20px 26px;
    border: 1px solid vars.$color-text-muted;
    align-self: flex-start;
  }

  &__filterbox {
    padding-bottom: 5px;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 40px;
  }

  &__filter-title {
    margin-bottom: 11px;
    padding-left: 20px;
    position: relative;
    @extend %lora-400;
    color: vars.$color-primary;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 10px;
      height: 10px;
      background-color: vars.$color-primary ;
    }
  }

  &__filterbox-itemrange {
    padding-bottom: 20px;
  }

  &__filterbox-items {
    column-count: 2;
    column-gap: 40px;
  }


  &__filterbox-clean {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    color: vars.$color-primary;
    text-decoration: underline;
  }


  &__content-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
  }

  &__content-item {
    text-align: center;

    img {
      margin-bottom: 20px;
    }
  }


  &__content-name {
    margin-bottom: 10px;
    color: vars.$color-primary;
  }

  &__content-price {
    @extend %opensans-700;
  }

  .checkbox-label {
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
  }


  .checkbox-style {
    margin-top: -1px;
  }

  .radio-label {
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
  }


  .radio-style {
    margin-top: -1px;
  }
}

.view-mode {
  display: flex;
  gap: 10px;

  &__btn {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__container--grid {
    display: grid;
  }

  &__container--line {
    display: block;
    .catalog__content-item{
      display: flex;
      img{
        margin-right: 20px;
        width: 180px;
      }
    }

    .blog__list-item{
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      img{
        width: 180px;
      }
    }
  }
}

.range {
  input {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
  }

  &__label {
    position: relative;

    &::before {
      content: '€';
      position: absolute;
      top: 11;
      left: 12px;
      font-size: 11px;
      color: vars.$color-text-muted;
    }

    input {
      font-size: 11px;
      color: vars.$color-text-muted;
      border: 1px solid vars.$color-text-muted;
      padding: 10px 5px 10px 30px;
      width: 94px;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 11px;
    gap: 11px;
    padding-top: 15px;

    li {
      position: relative;

      &:first-child {
        margin-right: 4px;
      }

      &::before {
        content: '';
        width: 1px;
        height: 6px;
        position: absolute;
        background: vars.$color-primary;
        top: -19px;
        left: 52%;
      }
    }
  }

  .noUi-target {
    background: vars.$color-text-muted;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .noUi-horizontal {
    height: 2px;
  }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -17px;
    top: -9px;
  }

  .noUi-handle {
    border: 1px solid vars.$color-text-muted;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: none;
  }

  .noUi-handle:before,
  .noUi-handle:after {
    display: none;
  }

  .noUi-horizontal .noUi-handle-upper {
    right: 0;
  }
}

.checkout {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    @extend %lora-400;
    font-size: 64px;
  }

  &__content {
    display: flex;
    gap: 80px;
    margin-bottom: 48px;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
  }

  &__info-item+.checkout__info-item {
    margin-top: 80px;
  }

  &__info-title {
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    line-height: 1.2;
    @extend %lora-400;
    border-bottom: 1px solid #dcddde;
  }

  &__infobox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__infobox-label {
    @extend %opensans-400;
  }


  &__infobox-input {
    margin-top: 12px;
    display: block;
    border-radius: 0;
    border: 1px solid #dcddde;
    padding: 26px 32px;
    width: 100%;

    &::placeholder {
      opacity: 0.4;
      font-size: 20px;
      line-height: 1;
    }
  }

  &__infobox-selectwrapp {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      opacity: 0.4;
      right: 34px;
      top: 68px;
    }
  }

  &__infobox-select--arrow {
    &::after {
      width: 20px;
      height: 12px;
      background-image: url(../images/delivery-arrow.svg);
      top: 72px;
    }
  }

  &__infobox-select--marker {
    &::after {
      width: 18px;
      height: 20px;
      background-image: url(../images/marker.svg);
    }
  }

  &__infobox-select {
    margin-top: 12px;
    display: block;
    border-radius: 0;
    border: 1px solid #dcddde;
    padding: 26px 32px;
    width: 100%;
    appearance: none;
    color: rgba($color: vars.$color-accent, $alpha: 0.4);
  }

  &__infobox-pay {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }

  &__info-text {
    font-size: 16px;
    max-width: 560px;
    opacity: 0.4;
    margin-bottom: 32px;
  }

  &__info-radio {
    border-bottom: 1px solid #dcddde;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .radio-label {
    font-size: 24px;
    display: block;

    padding-top: 26px;
  }

  .radio-name {
    opacity: 0.4;
  }

  .radio-box:checked+.radio-style {
    opacity: 1;
  }

  .radio-box:checked+.radio-style+.radio-name {
    opacity: 1;
  }

  .radio-style {
    display: inline-block;
    margin-top: 7px;
    opacity: 0.4;
  }

  .radio-text {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    opacity: 0.4;
    @extend %inter-400;
    margin-bottom: 26px;
  }

  &__info-paycard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__info-btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background-color: vars.$color-accent;
    padding: 28px;
    border: none;
    cursor: pointer;

  }

  &__details {
    width: 616px;
  }

  &__details-title {
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    line-height: 1.2;
    @extend %lora-400;
    border-bottom: 1px solid #dcddde
  }

  &__details-items {
    margin-bottom: 120px;
  }

  &__details-itemsline {
    background-color: vars.$bg-primary;
    padding: 15px 18px 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

  }

  &__details-quantity {
    font-size: 16px;
  }

  &__details-del {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__item {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__item-img {
    min-width: 140px;
  }

  &__item-box {
    position: relative;
    width: 100%;
  }

  &__item-title {
    margin-bottom: 40px;
    @extend %lora-400;
  }

  &__item-list {
    font-size: 16px;
    margin: 0;
  }

  &__item-listbox {
    display: flex;

    &:last-child {
      margin-top: 40px;
      justify-content: space-between;

      dd {
        @extend %opensans-700;
      }
    }
  }

  &__item-term {
    @extend %opensans-700;
  }

  &__item-definition {
    margin-left: 10px;
  }

  &__item-del {
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    top: 0;
  }
}

.checkout__info-delpeice {
  opacity: 0.4;
}

.radio-label:has(.radio-box:checked)+.checkout__info-delpeice {
  opacity: 1;
}

.order {
  padding: 60px 40px;
  border: 1px solid #dcddde;

  &__title {
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    line-height: 1.2;
    @extend %lora-400;
    border-bottom: 1px solid #dcddde
  }

  &__listbox {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    font-size: 24px;
    margin-bottom: 20px;

    &:last-child {
      opacity: 1;
      font-size: 32px;
      margin-bottom: 0;
      margin-top: 32px;
    }
  }

  &__list {
    margin-bottom: 80px;
  }
}

.order-change {
  padding: 30px;
  display: block;
  border: 1px solid vars.$color-accent;
  text-transform: uppercase;
  text-align: center;
}