<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Catalog</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Collections</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">About</a>
        </li>
        <li class="footer__menu-item">
          <a class="logo" href="#">
            <img src="images/logo.svg" alt="svg">
          </a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Book your appointment</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer__elements">
      <div class="footer__element">
        <p class="footer__element-title">Phones</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a href="tel:+380978367320" class="footer__element-link">
              +380 (97) 836 73 20
            </a>
          </li>
          <li class="footer__element-item">
            <a href="tel:+380999846862" class="footer__element-link">
              +380 (99) 984 68 62
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Emails</p>
        <ul class="footer__element-list">
          <li class="footer__element-item">
            <a href="email:office@luxuriousbridalhaven.com" class="footer__element-link">
              office@luxuriousbridalhaven.com
            </a>
          </li>
          <li class="footer__element-item">
            <a href="email:sales@luxuriousbridalhaven.com" class="footer__element-link">
              sales@luxuriousbridalhaven.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Location</p>
        <address class="footer__address">Ukraine, Kyiv, <br>
          st. Arsenalna, 5</address>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Social</p>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <svg width="26" height="26">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <svg width="26" height="26">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element-title">Sign-up for our newsletter</p>
        <form class="footer__form" action="">
          <input class="footer__form-input" type="text" placeholder="Enter your email">
          <button class="footer__form-btn" type="submit">
            <svg width="15" height="11">
              <use xlink:href="images/sprite.svg#env"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__coppy">
          © Luxurious Bridal Haven. All rights reserved.
        </p>
        <ul class="footer__bottom-list">
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Refund policy</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>