<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Luxurious Bridal Haven</title>
</head>

<body>

  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <button class="menu__btn">
            <svg width="30" height="19">
              <use xlink:href="images/sprite.svg#mobile-btn"></use>
            </svg>
          </button>
          <div class="header__logo">
            <a class="logo" href="#">
              <img src="images/logo.svg" alt="svg">
            </a>
          </div>
          <nav class="menu">
            <ul class="header__lang">
              <li class="header__lang-item">
                <a href="#" class="header__lang-link header__lang--active">EN</a>/
              </li>
              <li class="header__lang-item">
                <a href="#" class="header__lang-link">UA</a>
              </li>
            </ul>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link">CATALOG</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">COLLECTIONS</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">ABOUT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">BOOK AN APPOINTMENT</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">CONTACT</a>
              </li>
            </ul>
          </nav>
          <ul class="header__actions">
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="22">
                  <use xlink:href="images/sprite.svg#wishlist"></use>
                </svg>
              </a>
            </li>
            <li class="header__actions-item">
              <a href="#" class="header__actions-link">
                <svg width="24" height="24">
                  <use xlink:href="images/sprite.svg#shopping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>